{% extends "plano/base.html"%}
{% block title %}Evento {% endblock %}
{% block background %}{% load static %}{% static 'plano/img/evento.jpg' %} {% endblock %}
{% block headers %}
<h1> El Evento </h1>
<span class="subheading">Lugar y fecha</span>
{% endblock %}

{% block content %}
<section id="lugar_fecha">
  <div class="presentacion">
    <h1>COPA FREE FIRE 2024</h1>
    <h3>¿Cuándo?: La cita será el 31 de octubre de 2024</h3> 
    <h3>¿Dónde? : Costa Salguero</h3>
    <p>Llega el evento más esperado del año para los amantes del battle royale. Disfruta del torneo, concursos, stands de compra, invitados especiales y mucho más.</p>
    
  <div id="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.328123402823!2d-58.3989847253355!3d-34.57056315574618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb569a4bcdd35%3A0x558fa1541e2b1c2a!2sCentro%20Costa%20Salguero!5e0!3m2!1ses!2sar!4v1716526434565!5m2!1ses!2sar" 
    width="50%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section> 
{% endblock %}