

/*Animación */
.favs {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-self: center;
    color: #c3e6cb;
    background-color: rgba(0, 0, 0, 0.96);
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  @keyframes cambiarColor {
    0% {
       background-color: #74914A;   /*color1*/
    }  
    50% {
         background-color: #8ABB41;   /*color2 */
    }  
    100% {
         background-color:#383C32;   /*color3 */
    }  
  }
  /* Tarjetas de Jugador */
.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self:auto;
}
  
.charcard {
    max-width: 280px;
    border: 3px solid rgba(48, 139, 17, 0.703);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
}
  
.charcard-img-container {
    position: relative;
}
  
.img-icono {
    position: absolute;
    top: 0;
    /* arriba */
    right: 0;
    /* derecha */
    width: 35px;
    /* ancho */
    height: 35px;
    /*  altura */
}
  
.img-foto {
    width: 100%;
}
  
.name {
    font-weight: bold;
}
  
.details p {
    margin: 5px 0;
}
  
  /* Modo de habilidad */
.M-tag1 {
    background-color: #fb69696d;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 2px 0;
}
  
.M-tag2 {
    background-color: #7571ff6d;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 2px 0;
}
  
  /* Tipos de estrategia */
.E-tag1 {
    background-color: #f5dd63;
    color: #ffffff;
    border-radius: 3px;
    display: block;
    margin: 2px 0;
}
  
.E-tag2 {
    background-color: #fa6565b3;
    color: #ffffff;
    border-radius: 3px;
    display: block;
    margin: 2px 0;
}
  
.E-tag3 {
    background-color: #6669fae1;
    color: #ffffff;
    border-radius: 3px;
    display: block;
    margin: 2px 0;
}
  
.E-tag4 {
    background-color: #91fd77bf;
    color: #ffffff;
    border-radius: 3px;
    display: block;
    margin: 2px 0;
}
